.arrow {
  $size: var(--size);
  $color: var(--color);
  $rotate: var(--rotate);
  display: block;
  position: relative;
  width: $size;
  height: $size;
  transform: rotate($rotate);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  &::before {
    width: 0;
    height: 0;
    border-width: calc(#{$size} * 0.3);
    border-color: $color $color transparent transparent;
    border-style: solid;
    transform: rotate(45deg);
  }

  &::after {
    right: calc(#{$size} * 0.3);
    width: calc(#{$size} * 0.5);
    height: calc(#{$size} * 0.3);
    background-color: $color;
  }
}
